<h3>Hi <b>[realtor-name]</b></h3>
<br>
<p>My name is <b>Nicole</b> from gam exterminating.</p>
<br>
<p>I know you spoke to <b>[cold-caller-name]</b> earlier.  Pleasure to meet you!</p>
<br>
<p>We just wanted to reach out and introduce ourselves, if you ever need a termite inspection or pest control work done on any of the properties you represent. We would love to be the company you turn to!</p>
<br>
<p>We always offer commission for any work you refer us as well, be it for pest work, termite inspection work or refering us to other property managers who we could be introduced to.</p>
<br>
<p>If you would like to jump on a phone call or meet in person we would love to do this as well! We love having personal relationships with all of our realtors we refer work to.</p>
<br>
<p>If you want to call me at any time please call 877 732 2057 and ask for nicole</p>
<br>
<p>Let's keep in touch!</p>
<br>
<p>Thanks</p>